@model IEnumerable<Gym_Management_Website.Models.Order>
@{
    ViewBag.Title = "allOrders";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";

}

<h2>All Orders</h2>

<table class="table table-bordered table-condensed table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>User Email</th>
            <th>Date Ordered</th>
            <th>Order Details</th>
            <th>Total</th>
            <th>Tracking Number</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <th>@item.userEmail</th>
                <td>@item.timeOrder.ToShortDateString()</td>
                <td>@item.NameandQuant</td>
                <td style="background-color:skyblue;">@item.total</td>
                <td>@item.tracking_num</td>

                @if (item.deliverystatus == "Pending")
                {
                    <td style="color:red;">@item.deliverystatus</td>
                }
                else if (item.deliverystatus == "Arriving")
                {
                    <td style="color:blue;">@item.deliverystatus</td>

                }
                else if (item.deliverystatus == "Complete")
                {
                    <td style="color:green;">@item.deliverystatus</td>

                }
                else
                {
                    <td style="color:black;">@item.deliverystatus</td>

                }

            </tr>
        }
    </tbody>
</table>
<a style="text-transform:none; text-decoration:none;" class="btn btn-primary" href="/admin/admindashboard">Back to Dashboard</a>
