@using Gym_Management_Website.Models
@{
    ViewBag.Title = "Index";
}

<h2>Your Cart</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th style="background-color:green;">Quantity</th>
            <th>Total Amount</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<Item>)Session["cart"])
        {
            <tr>
                <td>@item.Products.prod_name</td>
                <td>@item.Products.prod_price</td>
                <td style="background-color:limegreen;">@item.Quantity</td>
                <td>@(item.Quantity * item.Products.prod_price)</td>
                <td>
                    <button class="btn btn-danger" onclick="RemoveFCart(@item.Products.id)"><a href="@Url.Action("RemoveFromCart", "Cart", new { @id = item.Products.id })"></a></button>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"><h3 style="text-align:center">Total amount : </h3></td>
            <td colspan="1">
                @{
                    List<Item> cart = (List<Item>)Session["cart"];
                    var totalamt = 0.00;
                    foreach (var item in cart)
                    {
                        var total = item.Products.prod_price * item.Quantity;
                        totalamt = totalamt + total;
                    }
                }
                <h3>R @totalamt</h3>

            </td> @*Add the if statement here after trying the delete button verification thing ...*@
            <td><a class="btn btn-success" href="@Url.Action("confirmCheckout", "Cart", new {totalAmount = totalamt })">Checkout</a></td>

        </tr>
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to Store", "ReadOnlyIndex", "GymProducts")

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    //Reload Page
    function reloadPage() {
        location.reload()
    }
    //Add Movie To Cart
    function RemoveFCart(id) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("RemoveFromCart", "Cart")",
                data: {
                    id: id
                },
                dataType: "json",
                success: function (res) {
                    Swal.fire({
                        title: 'Success',
                        text: "Item has been removed",
                        icon: 'success',
                        allowOutsideClick: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Okay'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace("/Cart/Index")
                            reloadPage();
                        } else {
                            reloadPage();
                        }
                    })

                }
            })
    }
</script>