@model IEnumerable<Gym_Management_Website.Models.GymProducts>

@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

    <p>
        <a style="text-transform:none; text-decoration:none;" class="btn btn-info" href="/gymproducts/create">Create</a>
    </p>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prod_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_qty)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_qty)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    <a style="text-transform:none; text-decoration:none;" class="btn btn-primary" href="/admin/admindashboard">Back to Dashboard</a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
